body {
    padding: 0;
    margin: 0;
    background-color: #141414;
    font-family: 'Red Hat Text', Helvetica, Arial, sans-serif !important;
}

.background-container {
    background-image: url(/assets/images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.middle-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-left: 5%;
    height: 500px;
    width: 500px;
}

.login-container {
    background-color: white;
    max-width: 560px;
}

.heading {
    font-size: 28px;
    padding: 48px;
    padding-bottom: 0;
    height: 110px;
}

.hidden {
    display: none !important;
}

.inputs {
    padding: 45px;
    padding-bottom: 32px;
    padding-top: 0;
}

label {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    min-height: 38px;
    color: #333;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

input {
    display: block;
    width: 100%;
    padding: .25rem .5rem;
    background-color: #fff;
    border: 1px solid #ededed;
    border-bottom-color: #72767b;
    border-radius: 1px;
    transition: border-color .15s ease-in-out;
    color: #151515;
}

input:focus {
    outline: none;
    border-bottom-color: blue;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: .5rem;
    width: 100%;
    background-color: #06c;
    border: none;
    color: #fff;
    margin-top: 32px;
}

button > .spinner-border {
    height: 22px;
    width: 22px;
}

button:hover {
    background-color: #004080;
}

button:focus {
    background-color: #004080;
    outline: none;
}

.details {
    height: 100px;
    padding: 24px 48px;
    background-color: #ededed;
    display: flex;
    align-items: center;
}

.details label {
    min-height: auto;
    margin: 0;
    margin-bottom: 6px;
}

.error {
    height: 55px;
    width: 100%;
    padding-left: 16px;
    display: flex;
    align-items: center;
    color: #c9190b;
    border: solid #ededed;
    border-width: 1px 1px 1px 0;
    border-left-color: #c9190b;
    border-left-width: 3px;
}

.error > svg {
    height: 18px;
    width: 18px;
}

.error > span {
    padding-left: 20px;
    font-weight: bold;
    line-height: 18px;
}